html{
    font-size:18px;
    box-sizing:border-box;
}
body{
    line-height:1.4;
    font-family:"Helvetica", sans-serif;
}
.container{
    width:960px;
}
.containerRow{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.containerCol{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    
}


header{
    display:flex;
    justify-content: space-between;
    background-color:cadetblue;
    margin-top:1rem; 
}
nav  {
    display: flex;
    align-items: center;
}
.logo  {
    display: flex;
    align-items: center;
}
header span , a{
    color: white;
    text-decoration: none;
}
.logo span{
    font-size:1rem; 
    padding-left:1rem;
}
.logo img{
    height:1.5rem;
    padding-left:2rem;
}
nav span{ 
    font-size:1rem; 
    padding: 1rem 2rem 1rem 0;
}
.mobileNav{
    display:none;
}


@media only screen and (max-width:1035px){
    .container{
        width:100%;
    }
    header{
        margin-top:0rem;
    }
}

@media only screen and (max-width:608px){
    .logo span, nav a
    {
        display:none;
    }
    .logo img{
        padding-left:1rem;
    }
    .mobileNav{
        display: block;
        align-self: center;
        padding:1rem 2rem;
    }
}

.main_banner{
    background-image:url("../img/glasses-bg.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    height:30rem;
}
.notice{
    font-size: 2rem;
    font-weight:bold;
    line-height:1.2;
    color:black;
    padding:1.5rem 5rem;
    margin-top:10rem;
    background-color:white;
    position:relative;
    left:12.045rem;
}


@media only screen and (max-width:1035px){
    .main_banner{
        align-items: flex-end;
        height:22rem;
        width: 100%;
    }
    .notice{
        margin-top:5rem;
        margin-right:2rem;
        position: static;  
        padding:0; 
    }
    .notice h1{
        font-size:1.33rem;
        padding:0.75rem 4rem;
    }
}
@media only screen and (max-width:608px){
    .main_banner{
        align-items:stretch;
        height:17rem;
        background-position:20%;
    }    
    .notice{
        width:100%;
        margin-top:9rem;
    }
    .notice h1{
        font-size:1rem;
        text-align: center;
        padding:1rem auto;

    }    
}    

.icon_section{
    justify-content: center;
}
.icon{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height:8rem;
    width:5rem;
    margin: 3rem;
    text-align: center
}
.paper img{
    object-fit: contain;
    width:3.5rem;
}
.ruler img , .truck img {
    object-fit: contain;
    width:5rem;
}



@media only screen and (max-width:608px){

    .container.containerRow{
        flex-direction:column;
        align-items: center;
    }
    
    .paper{
        margin-top:3.77rem;
        margin-bottom:0.77rem;
    }
    .ruler{
        height:5rem;
        margin:0.77rem;
    }
    .truck{
        height:5rem;
        margin-top:0.77rem;
        margin-bottom:3.77rem;
    }
    .icon span{
        font-size:0.77rem;
    }
}


.heading{
    align-content: flex-start;
    width:35%;
    margin-right:5%;
    
}
.subject{
    width:10rem;
    padding:0.5rem 1.25rem;
    background-color: cadetblue;
    margin-bottom:1rem;
    
}
h3{
    width:10rem;
    font-size:1rem;
    font-weight: bold;
    color: white;
    text-align: left
}
.description{
    font-size:0.75rem;
}

@media only screen and (max-width:608px){
    .heading{
        margin-right:0;
        margin-bottom:4rem;
        padding:0;
        width:100%;
    }
    .subject{
       width: 100%;
       padding-right: 0;
       padding-left: 0;
    }
    h3{
        text-align: center;
        width: 100%   
    }
    .description{
        margin-left:1rem;
    }
   
}
.footercontainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:azure;
    margin-top:5rem;
}
footer{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.footercontainer img{
    height:1.5rem;
    padding:4rem 1rem 4rem 4rem;
}


@media only screen and (max-width:608px){
    .footercontainer{
        justify-content: center;
    } 
    footer span{
        display: none;
    }
}
